.editor-container {
  display: flex;
  background-image: linear-gradient(to bottom left, #fbcef8, #e3ddfe);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.background-container {
  height: 85%;
  background-color: white;
  border-radius: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-input:focus {
  outline: none;
  box-shadow: none;
}

.input-box {
  border: 1px solid #fbcff8 !important;
  color: #3e3e3e;
  height: 550px;
  width: 950px;
}

.red {
  background-color: red;
}
